<div id="header">
  <img src="../assets/pics/unnamed.png" alt="">
   <span>Daniel Vretoski</span> 
    
</div>

<div id="homescreen">

    <h2 id="mypost">My Posts</h2>



<div class="messageSender">
  <div class="messageSender__top">
    <img src="../assets/pics/unnamed.png" alt="">
    <form>

      <input type="text" placeholder="what do you want to write">

      <button onclick={handleSubmit} type = "submit">
        submit
      </button>

      
    </form>
  </div>


</div>



</div>








    



