#header {
    background-color: rgb(0, 110, 255);
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.712);
    

}

span{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 25px;

}


img {
    padding-top: 5px;
    padding-left: 5px;
    width: 40px;
    
    height: 40px;
}

#homescreen {

    background-color: rgba(223, 217, 217, 0.616);
    padding-bottom: 90%;
    margin-left: 15%;margin-right: 15%;
    margin-bottom: 30px;


}

h2 {
    text-align: center;
    font-size: 40px;
}

.messageSender {

    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.082);
    margin: 20px 20px;

}

.messageSender__top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
    
}

.messageSender__top > form {
    flex: 1;
    display: flex;
}

.messageSender__top > form > input {
    outline-width: 0;
    border: none;
    padding: 5px 30px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
    width: 100%;
}

.MyInfo{
    
    float:right!important;
    text-align:right;
    width: 100%!important;

}
