<div id="header">
  <img src="../assets/pics/unnamed.png" alt="">
   <span>Daniel Vretoski</span> 
    
</div>

<div id="homescreen">

    <h2 id="mypost">My Posts</h2>



<div class="messageSender">
  <div class="messageSender__top">
    <img src="../assets/pics/unnamed.png" alt="">
    <form 
    #form="ngForm" 
    name= "message" 
    (ngSubmit)="postMessage(form)"
    placeholder="What would you like to post"
    novalidate>

      <input type="text" ngModel name="description" placeholder="what do you want to write">

      <button  type = "submit" class = "btn btn-success"> submit
      </button>

    </form>
  </div>
</div>

<div *ngFor = 'let post of posts'>
  <div class="messageSender row col-xs-12">{{post.description}}<div>

</div>


</div>









    



